.anim {
    position: absolute;
    height: 100vh;
    background-color: #f1f5f6;
    width: 100vw;
}

.anim-arrivee div.anim {
    right: 0;
}

.anim-grotte {
    background-color: #f1f5f6;
}

.anim-grotte div.anim {
    width: 80vw;
    right: 0;
}