.anim {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.sec-anim {
    background-color: #f1f5f6;
}

.anim-arrivee div.anim {
    right: 0;
}

.anim-chute div.anim {
    width: 80vw;
    height: 80vh;
    right: 0;
    bottom: 0;
}

.anim-chute div.anim svg {
    width: 100%;
}

.anim-seul div.anim svg {
    width: 100%;
}

.anim-seul div.anim {
    right: -20%;
}

.anim-grotte div.anim svg {
    width: 100%;
}

.anim-grotte div.anim {
    width: 90%;
    right: -15%;
    top: -10%;
}

.anim-fleuve div.anim {
    bottom: 0;
}