body {
    margin: 0;
}

section {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    justify-content: center;
    position: absolute;
    display: none;
}

section button {
    z-index: 1;
    font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: 0 auto;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    background-color: #74B8C1;
    color: white;
    border: none;
    box-shadow: 1px 1px 1px 1px #426466 inset;
    cursor: pointer;
}

section button.abo {
    color: #485F62;
    background: white;
    opacity: 0.7;
    top: 50%;
    transform: translate(0,-50%);
}

section button:hover {
    background-color: #66A7AB;
}

section button.abo:hover {
    opacity: 1;
    background: white;
}

section button.choice1 {
    right: 350px;
}

section button.choice2 {
    left: 350px;
}

section.anim-chute {
    background-image: url("../json/anim-chute/img_3.jpg");
}

section img {
    height: 100vh;
    width: 100vw;
}