.loader {
    height: 100vh;
    width: 100vw;
    background-color: #f1f5f6;
    z-index: 200;
    position: relative;
    font-family: Dosis;
    font-size: 40px;
    color: #485F62;
}

.txt-loader {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}

.pourcent {
    z-index: 201;
    background-color: #f1f5f6;
    padding: 2px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar {
    position: absolute;
    height: 2px;
    width: 0vw;
    background-color: #485F62;
    top: 50%;
    transform: translateY(-50%);
}