/* Canvas container */
.map-container {
    position: fixed;
    top: 0;
    left: 0;
}

.to-hide {
    /*visibility: hidden;*/
    z-index: 1000;
}

/* Story */

.text {
    font-size: 100vh;
}

.text p {
    padding-top: 250vh;
    padding-bottom: 250vh;
}

.js-section {
    width: 0;
}
