

 
 /**
  * Modals ($modals)
  */

 .modal {
     position: absolute;
     z-index: 10000; /* 1 */
     top: 0;
     left: 0;
     visibility: hidden;
     width: 100%;
     height: 100%;
 }
 
 .modal.is-visible {
     visibility: visible;
 }

 
 
 .modal.is-visible {
   opacity: 1;
   visibility: visible;
   transition-delay: 0s;
 }
 
 .modal-wrapper {
   position: absolute;
   z-index: 99999;
   top: 6em;
   left: 50%;
   width: 32em;
   margin-left: -16em;
   background-color: #74B8C1;
   box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
   border-radius: 25em;
   padding-left: 15px;
   border-bottom-right-radius: -35em;
 }

 .modal-toggle {
     cursor: pointer;
 }

 .close-btn {
     padding: 2em;
     margin: 0 auto;
     width: 50%;
 }


 .close-btn i {
    color: #fff;
 }

 .close-btn a {
   display: block;
   margin: 0 auto;
   text-align: center;
 }
 
 .modal-transition {
   transition: all 0.3s 0.12s;
   transform: translateY(-10%);
   opacity: 0;
 }
 
 .modal.is-visible .modal-transition {
   transform: translateY(0);
   opacity: 1;
 }
 
 .modal-header,
 .modal-content {
   padding: 1em;
 }
 
 .modal-header {
   position: relative;
   background-color: #fff;
   box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
   border-bottom: 1px solid #e8e8e8;
 }
 
 .modal-close {
   position: absolute;
   top: 0;
   right: 0;
   padding: 1em;
   color: #aaa;
   background: none;
   border: 0;
 }
 
 .modal-close:hover {
   color: #777;
 }
 

 
.modal-content {
    z-index: 1000;

}

.modal-content .modal-content-text {
    z-index: inherit;
    position: relative!important;
    color: #fff;
}

.textes-audio {
    color: #fff;
    text-align: center;
    padding-bottom: 2em;
    padding-top: 1em;
}

.textes-audio i {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 80px;
    color: #fff;
    top: 0;
    left: 50%;
    text-align: center;
    margin-bottom: 3px;
}