@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

* {
    color: #485F62;
}

section p {
    position: absolute;
    font-style: normal;
    color: #FFFFFF;
    z-index: 5;
}

.txt-p {
    font-family: Dosis;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.txt-titre {
    font-family: Adobe Garamond;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

#txt-titre-seul {
    width: 857px;
    height: 157px;
    left: 261px;
    top: 226px;
}

#txt-seul {
    width: 672px;
    height: 312px;
    left: 261px;
    top: 408px;
}

